<% include header %>

<div class="image" style="background-image: url(<%-image %>)"></div>
<iframe width="420" height="315" src="//www.youtube.com/embed/<%-youtube %>?autoplay=1" frameborder="0" allowfullscreen></iframe>